@charset "UTF-8";



h1 img {
    max-width: 100%;
}

#col1 {
    float:left;
    height:100%;
    width: 40%;
}

#col2 {
    float: left;
    height:100%;
    width: 40%;
    margin-left: 20%;
    margin-bottom:110px
}

@media screen and (max-width: 480px) {

    main {
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 15px;
    
        border-radius: 15px;
        
      
        padding-right: 15px;
        padding-bottom: 10px;
        padding-left: 15px;
    }
    
    h1 {
        display:block;
    }

    nav {
        text-align: center;
        margin:0;
        padding:0;
    }

    #link-menu-big {
        display:block;
        margin:0;
        padding:15px;
        background-image:linear-gradient(to bottom, rgb(48, 48, 48), rgb(121, 121, 121));
        color:white;
    }

    #link-menu-mercado {
        display:block;
        margin:0;
        padding:15px;
        background-color: rgb(230, 230, 230);
        background-image:linear-gradient(to bottom, rgb(31, 31, 31), rgb(114, 114, 114));
        color:white;
    }

    #col1 {
        float:left;
        height:100%;
        width: 40%;
    }
    
    #col2 {
        float: left;
        height:100%;
        width: 40%;
        margin-left: 13%;
        margin-bottom:200px
    }

}